<h1>User Detail</h1>
User Name : <%= user.name %> <br>
User Email : <%= user.email %> <br>
User Password : <%= user.password %> <br>
<a href="/user/userupdate/<%= user._id %>"><button>Update</button></a>
<a href="/user/userdelete/<%= user._id %>"><button>Delete</button></a>
